<div class="container" style="padding-top: 20px">
			<%= image_tag @pin.image.url(:medium) %>

	<h4>
	  <%= @pin.description %>
	</h4>
	<% if @pin.user == current_user %>
		<%= link_to 'Edit', edit_pin_path(@pin) %> 
	<% end %>
	<%= link_to 'Back', pins_path %>
</div>