<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Chris's One Month Rails</h1>
		<p> This is my new project. You can't find out more by clicking the button </p>
		<p> <%= link_to "Learn more here - not!", "#", class: "btn btn-primary btn-lg" %> </p>
		<p>Find me in app/views/pages/home.html.erb</p>
	</div>
</div>